<h2>Edit auction</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_auction_path(@conn, :update, @user, @auction) %>

<%= link "Back", to: user_auction_path(@conn, :index, @user) %>
